@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');

.poppins {
    font-family: 'Poppins', sans-serif;
}

.serif {
    font-family: 'Source Serif 4', serif;
}

.image {
    background-image: url('https://images.pexels.com/photos/1995730/pexels-photo-1995730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-repeat: no-repeat;
    background-size: cover;
}